* {
    box-sizing: border-box;
}

.cabecalho {
    background-color: darkgrey;
    text-align: center;
    height: 200px;
    font-family: sans-serif;
    grid-area: header;
    border: 1px solid black;
}

.alinhar-imagem {
    max-width: 125%;
    max-height: 110%;
}

.menu-lateral {
    grid-area: menu;
    background-color: darkgrey;
    height: 680px;
    text-align: center;
    margin-top: 5px;
    border: 1px solid black;
}

.itens-menu {
    display: inline;
    cursor: pointer;
}

.bg {
    background-color: dimgrey;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'menu main main main2 main2 main2' 'menu main3 main3 main3 main3 main3';
}

.conteudo {
    grid-area: main;
}

.box-content {
    padding: 2px;
    margin-top: 5px;
    grid-area: main;
    margin-left: 5px;
    background-color: rgb(169, 169, 169, .5);
    border: 1px solid black;
}

.box-content2 {
    padding: 2px;
    margin-top: 5px;
    grid-area: main2;
    margin-left: 5px;
    background-color: rgb(169, 169, 169, .5);
    border: 1px solid black;
}

.box-content3 {
    padding: 2px;
    margin-top: 5px;
    grid-area: main3;
    margin-left: 5px;
    background-color: rgb(169, 169, 169, .5);
    border: 1px solid black;
}

.footer {
    grid-area: main3;
}

@media screen and (max-width:700px) {
    .menu-lateral {
        display: none;
    }
}