.cabecalho {
    background-color: darkgrey;
    text-align: center;
    height: 200px;
    font-family: sans-serif;
}

.navegador-superior {
    background-color: #593237;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.alinhar-imagem {
    max-width: 125%;
    max-height: 110%;
}

.menu-superior {
    color: floralwhite;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.menu-content {
    font-family: 'Oswald', sans-serif;
    padding: 0 0 0 50px;
}

.collapsible-menu {
    padding: 0px 30px;
    user-select: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    display: block;
    cursor: pointer;
    padding: 10px 0 10px 50px;
}

input#menu {
    display: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 50px;
}

input:checked~.menu-content {
    max-height: 100%;
}